# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore the Data directory
Data/
Output/

output_tex_files/
Sample/
# Ignore virtual environments
venv/
.env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

a_generate_copyright.py